@keyframes pulse {
    0% {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
    }
    10% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    100% {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
    }
}

.pulse {
    animation: pulse 0.0s ease-in-out infinite;
    -webkit-animation: pulse 0.0s ease-in-out infinite;
}


.bottom-container {
    display: flex;
    margin-top: 20px;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.skip {
    padding: 10px 20px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow:  5px 5px 11px #d5d5d5,
                -5px -5px 11px #ebebeb;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
}

.skip:active {
    background-image: none;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    box-shadow: inset 5px 5px 11px #d5d5d5,
                inset -5px -5px 11px #ebebeb;
    text-shadow: none;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.8);
}

.streak {
    font-weight: bold;
    font-size: 1.3em;
}