.stats {
    display: flex;
    box-sizing: border-box;
    width: 70%;
    font-weight: bold;
    font-size: 1.6em;
    align-items: center;
    justify-content: flex-end;
}

.stats-positioner {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}

.top-container {
    display: flex;
    box-sizing: border-box;
    max-width: 600px;
    width: 90%;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
}


.stat-perc {
    text-align: right;
}

.stat-cont {
    display: flex;
    box-sizing: border-box;
    width: 60px;
    align-items: center;
}

.correct-num, .incorrect-num {
    padding-right: 10px;
    text-align: right;
}

#correct-cont {
    background-image: linear-gradient(120deg, #1d6c0f 0%, #144e44 100%);
}

#incorrect-cont {
    background-image: linear-gradient(120deg, #780f0f 0%, #3d0022 100%);
}

.question-num {
    left: 18px;
}

.question-frac {
    right: 18px;
}

#reset {
    width: 70px;
}