body {
    display: flex;
    background-color: #e0e0e0;
    align-items: center;
    justify-content: center;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 20px;
    max-width: 600px;
    max-height: 800px;
    width: 90vw;
    height: 90vh;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,                -20px -20px 60px #ffffff;
    color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: flex-start;
}

.question-num {
    position: absolute;
    right: 18px;
    bottom: 18px;
    text-align: right;
    font-size: 0.9em;
    opacity: 0.8;
}

.question {
    display: flex;
    margin: 0;
    width: 100%;
    height: 120px;
    font-weight: bold;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
}

.choices {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.choice {
    display: flex;
    margin-top: 20px;
    padding: 10px 20px;
    width: 80%;
    height: 80px;
    border-radius: 22px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    background: #e0e0e0;
    box-shadow:  11px 11px 25px #d5d5d5,                -11px -11px 25px #ebebeb;
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.9em;
    cursor:pointer;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.choice:active {
    background: #e0e0e0;
    box-shadow: inset 11px 11px 25px #d5d5d5,
                inset -11px -11px 25px #ebebeb;
}

.choice.disabled {
    pointer-events: none;
}

#choice-1.correct,
#choice-2.correct,
#choice-3.correct,
#choice-4.correct {
    width: 90%;
    background-image: linear-gradient(120deg, rgb(0, 190, 70) 0%, rgba(0, 189, 132, 0.5) 100%);
    box-shadow:  0px 0px 25px rgb(71, 255, 215);
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

#choice-1.incorrect,
#choice-2.incorrect,
#choice-3.incorrect,
#choice-4.incorrect {
    background-image: linear-gradient(120deg, rgb(190, 0, 32) 0%, rgba(189, 22, 0, 0.5) 100%);
    box-shadow:  0px 0px 25px rgb(255, 30, 30);
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    opacity: 0.8;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.correct .inset-text {
    -webkit-text-fill-color: white;
}

.incorrect .inset-text {
    -webkit-text-fill-color: rgba(255, 255, 255, 0.8);
}

.choice-let {
    display: flex;
    margin-right: 8px;
    margin-right: 20px;
    height: 100%;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.choice-val {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inset-text {
    background-image: -webkit-linear-gradient(45deg, rgba(38, 44, 43, 0.9), rgba(38, 44, 43, 0.9));
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.4);
    -webkit-text-fill-color: transparent;
}

.skip {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow:  5px 5px 11px #d5d5d5,
                -5px -5px 11px #ebebeb;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
}

.skip:active {
    background-image: none;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    box-shadow: inset 5px 5px 11px #d5d5d5,
                inset -5px -5px 11px #ebebeb;
    text-shadow: none;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.8);
}

#choice-1 {
    background-image: linear-gradient(120deg, #84faaf2c 0%, #8fd2f433 100%);
}

#choice-2 {
    background-image: linear-gradient(120deg, #9ffa842c 0%, #f4ed8f33 100%);
}

#choice-3 {
    background-image: linear-gradient(120deg, #84cbfa2c 0%, #918ff433 100%);
}

#choice-4 {
    background-image: linear-gradient(120deg, #fa84b12c 0%, #f4bc8f33 100%);
}
